<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceuil</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Salon-Blanc Madagascar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/rendezvous">Rendez-vous</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <div style="position: relative;">
    <img src="../../assets/img/home.png" class="d-block w-100" alt="..." style="object-fit: cover; height: 700px; border-radius: 5px;">
  </div>

  <div class="container">
        
    <h3 class="table-tilte">Nos coupes de Cheveux</h3>
    <hr>
        <div class="drag-container">
            <h5 style="text-align: center;">Les coupes disponibles</h5>
            <div
                cdkDropList
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[doneList]"
                class="drag-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of todo; let i = index" class="drag-box" cdkDrag>{{item}}</div>
            </div>
        </div>
        <div class="drag-container">
            <h5 style="text-align: center;">Nos Agents</h5>
            <div
                cdkDropList
                #persList="cdkDropList"
                [cdkDropListData]="personListe"
                [cdkDropListConnectedTo]="[perList]"
                class="drag-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of personListe; let i = index" class="drag-box" cdkDrag>{{item}}</div>
            </div>
        </div>

        <div class="drag-container">
            <h5 style="text-align: center;">Votre coupe </h5>
            <div
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList]"
                class="drag-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of done; let i = index" class="drag-box" cdkDrag>{{item}}</div>
            </div>
            <br>
            <h5 style="text-align: center;">L'Agent qui vous prendra en charge</h5>
            <div
                cdkDropList
                #perList="cdkDropList"
                [cdkDropListData]="personnel"
                [cdkDropListConnectedTo]="[persList]"
                class="drag-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of personnel; let i = index" class="drag-box" cdkDrag>{{item}}</div>
            </div>

            <label>Date de réservation</label>
            <input type="date" name="date" class="form-control" [(ngModel)]="reservationDate">
            <label>Heure de réservation</label>
            <input type="time" name="time" class="form-control" [(ngModel)]="reservationTime">
            <br>
            <button type="submit" class="btn btn-secondary btn-block" style="width: 100%;" (click)="submitReservation()">Valider la reservation</button>
        </div>
    </div>

    <footer class="footer py-4">
      <div class="container text-center">
        <p>ANDRIANIAINA Tanjona Jerry</p>
        <p>RAMAROKOTO Nomenjanahary</p>
        <p>© 2024 Salon-Blanc Madagascar.</p>
      </div>
    </footer>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  
  </body>
  </html>