<div class="card" style="width:500px">
    <div class="card-header">
        <button type="button" class="close" (click)="closeModal()"><span aria-hidden="true">×</span></button>
        <h4 class="title" >Avertissement de suppression</h4>
    </div>
    <div class="card-body">
      <p class="card-text">Etes vous sure de vouloir supprimer ?</p>
      <ul>
        <li *ngFor="let row of selectedRows">{{ row.nomEmployer }} {{row.prenomEmployer}}</li>
      </ul>
    </div>
    <div class="card-footer" style="text-align:right">
        <button type="button" class="btn btn-default" (click)="closeModal()">Annuler</button>
        <button type="submit" id="delete" class="btn btn-danger" >Supprimer</button>
    </div>
</div>