body {
  background-color: #f8f9fa;
}
.navbar,
.footer {
  background-color: #343a40; 
  color: white; 
}
.login-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.login-card {
  background-color: #343a40; 
  color: white; 
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.insertion {
  color: white; 
}
.text-yellow {
    color: #ffc107; 
}
.col-md-4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.carouselslide {
margin-top: 5px;
margin-bottom: 5px;
}
