<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion-Personnelle</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Salon-Blanc Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/gestionPers">Personnelle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gestionService">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/stat">Statistique</a>
          </li>
        </ul>
      </div>
      <a class="admin-link" routerLink="/adminLog" style="color:rgb(168,155,141); text-decoration: none; float:right" >deconnection</a>

    </div>
  </nav>
  <br>

  <div class="container">
    <div id="#profil" class="tab-pane fade show active">
      <div class="row"> 
        <div class="col-md-4 ">
          <h3>NOUVEAU PERSONNELLE</h3>
          <div id="addProfil">
            <form>
            <div class="form-group">
              <input class="form-control" type="text" name="nomEmployer" placeholder="Nom" [(ngModel)]="form.nomEmployer" required>
              <br>
              <input class="form-control" type="text" name="prenomEmployer" placeholder="Prenom" [(ngModel)]="form.prenomEmployer" required>
              <br>
              <input class="form-control" type="number" name="salaire" placeholder="Montant du salaire" [(ngModel)]="form.salaire" required>
              <br> 
              <label for="">Date d'embauche :</label>
              <input class="form-control" type="date" name="dateEmbauche"  [(ngModel)]="form.dateEmbauche" required>
              <br>  
              <label for="">Service : </label>
              <button class="btn btn-primary" (click)="addInputField()" style="background-color:rgb(168,155,141); border-color:rgb(246,247,249); color: black">+</button>
              <br> 
              <br> 
              <div class="form-group" *ngFor="let index of inputFields; let i = index">
                <button class="btn btn-danger" (click)="removeInputField(i)" style="float:right">-</button>
                <select id="select_role"  class="form-control">
                  <option value=""></option>
                </select>
                <br>
              </div>  

            </div>
            <br>
            <button class="btn btn-primary form-control" type="submit" style="background-color:rgb(168,155,141); border-color:rgb(246,247,249); color: black" (click)="add()">Inscrire Personnelle</button>
          </form>  

          </div>

        </div>
        <div class="col-md-8">
          <h3>PERSONNELLE</h3>
          <table id="profil" class="table table-striped">
            <tr>
              <th>SUPPRIMER</th>
              <th>NOM</th>
              <th>PRENOM</th>
              <th>SALAIRE</th>
              <th>DATE D'EMBAUCHE</th>

            </tr>
            <tr  *ngFor="let item of todo" [attr.id]="item.idEmployer"  id="" >
              <td align="center">
                <input class="deleteEmployer" type="checkbox" id="personnelle-{{ item.idEmployer }}" name="deleteEmployer" value="0" (change)="onCheckboxChange(item)">
              </td>
              <td class="result" name="nomEmployer" id="id" >{{item.nomEmployer}}</td>
              <td class="result" name="prenomEmployer" id="name">{{item.prenomEmployer}}</td>
              <td class="result" name="salaire" id="identifiant">{{item.salaire}}</td>
              <td class="result" name="dateEmbauche" id="role">{{item.dateEmbauche | date:'dd/MM/yyyy'}}</td>
              <td align="center">
                <button class="btn btn-success form-control"  (click)="updateModal(item.idEmployer,item.nomEmployer,item.prenomEmployer,item.salaire,item.dateEmbauche)">MODIFIER</button>
              </td>  
            </tr>
            <br>
            <tr>
              <td align="center">
              </td>
              <td align="center">
              </td>
              <td align="center">
              </td>
              <td align="center">
              </td>
              <td align="center">
              </td>
              <td align="left">
                  <button class="btn btn-danger form-control " (click)="openModal()">SUPPRIMER</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <br>
     
  <footer class="footer py-4">
    <div class="container text-center">
      <p>ANDRIANIAINA Tanjona Jerry</p>
      <p>RAMAROKOTO Nomenjanahary</p>
      <p>© 2024 Salon-Blanc Madagascar.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>


