<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Salon-Blanc Madagascar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/rendezvous">Rendez-vous</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="row justify-content-center login-container">
      <div class="col-md-6">
        <div class="card login-card">
          <div class="card-header">
            <h3 class="text-center">Inscription</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="insertion" for="email">nom d'utilisateur</label>
                <input type="email" class="form-control"  placeholder="Enter nom" name="username" [(ngModel)]="form.username"/>
              </div>
              <div class="form-group">
                <label class="insertion" for="email">Nom</label>
                <input type="email" class="form-control"  placeholder="Enter Nom" name="nom" [(ngModel)]="form.nom"/>
              </div>
              <div class="form-group">
                <label class="insertion" for="email">Prénom</label>
                <input type="email" class="form-control"  placeholder="Enter email" name="prenom" [(ngModel)]="form.prenom"/>
              </div>
              <div class="form-group">
                <label class="insertion" for="password">Mot de passe</label>
                <input type="password" class="form-control"  placeholder="Mot de passe" name="password" [(ngModel)]="form.password"/>
              </div>
              <div class="form-group">
                <label class="insertion" for="password">Mot de passe </label>
                <input type="password" class="form-control"  placeholder="Ré-écris ton mot de passe" name="password2" [(ngModel)]="form.password2"/> 
              </div>
              <button type="button" class="btn btn-primary btn-block" (click)="inscription()">Inscription</button>
            </form>
            <br>
              <div class="form-group">
                <a routerLink="/login">J'ai déjà un compte</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="footer py-4">
    <div class="container text-center">
      <p>ANDRIANIAINA Tanjona Jerry</p>
      <p>RAMAROKOTO Nomenjanahary</p>
      <p>© 2024 Salon-Blanc Madagascar.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
