<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestion-Service</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Beauté Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/personnelle">Personnelle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div id="#service" class="tab-pane fade show active">
      <div class="row"> 
        <div class="col-md-4 ">
          <h3>NOUVEAU SERVICE</h3>
          <div id="addService">
            <div class="form-group">
              <input class="form-control" type="text" name="newService" id="newService" placeholder="Nom du Service" required>
            </div>
            <br>
            <button class="btn btn-primary form-control" type="submit">Ajouter Service</button>
          </div>
        </div>
        <div class="col-md-8">
        <h3>SERVICE</h3>
          <table id="service" class="table table-striped">
            <tr>
              <th>DELETE</th>
              <th>id</th>
              <th>DESIGNATION</th>
            </tr>
            <tr id="">
              <td align="center">
                <input class="deleteService" type="checkbox" id="servicd" name="deleteService" value="0">
              </td>
              <td class="result" name="id" id="id" >result.id</td>
              <td class="result" name="nameService" id="name">result.designation</td>
              <td align="center">
                <button class="btn btn-success form-control"  data-toggle="modal" data-target="#myModal">MODIFIER</button>
              </td>  
            </tr>
            <tr>
              <td align="center">
              </td>
              <td align="center">
              </td>
              <td align="center">
              </td>
              
              <td align="left">
                <button class="btn btn-danger form-control "  data-toggle="modal" data-target="#myDelete">SUPPRIMER</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <br>
     
  <footer class="footer py-4">
    <div class="container text-center">
      <p>ANDRIANIAINA Tanjona Jerry</p>
      <p>RAMAROKOTO Nomenjanahary</p>
      <p>© 2024 Beauté Madagascar.</p>
    </div>
  </footer>



  <div class="modal fade" id="myDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Avertissement</h4>
            </div>
            
            <div class="modal-body">
                <h6 id="titre_table"></h6>
                <ul id="liste_supprimer"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="submit" id="delete" class="btn btn-danger" >Supprimer</button>
            </div>

        </div>
    </div>
</div> 

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>


