<div class="card" style="width:500px">
    <div class="card-header">
        <button type="button" class="close" (click)="closeModal()"><span aria-hidden="true">×</span></button>
        <h4 class="title" >Avertissement de modification</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">id :{{ data.idEmployer }}</h5>
      <tr>
        <input type="text" class="" placeholder="{{ data.nomEmployer }}">
      <input type="text" class="" placeholder="{{ data.prenomEmployer}}">
      <input type="text" class="" placeholder="{{ data.salaire }}">
      <input type="text" class="" placeholder="{{ data.dateEmbauche }}">
      </tr>
      

    </div>
    <div class="card-footer" style="text-align:right">
        <button type="button" class="btn btn-default" (click)="closeModal()">Annuler</button>
        <button type="submit" id="delete" class="btn btn-success" >Modifier</button>
    </div>
</div>
