<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription</title>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center login-container">
      <div class="col-md-6">
        <div class="card login-card">
          <div class="card-header">
            <h3 class="text-center">Inscription</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="insertion" for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Entrer le nom">
              </div>
              <div class="form-group">
                <label class="insertion" for="prenom">Prenom</label>
                <input type="text" class="form-control" id="prenom" placeholder="Prenom">
              </div>
              <div class="form-group">
                <label class="insertion" for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="username">
              </div>
              <div class="form-group">
                <label class="insertion" for="password">Password</label>
                <input type="password" class="form-control" id="password1" placeholder="Mot de passe">
                <input type="password" class="form-control" id="password2" placeholder="Entrer a nouveau le mot de passe">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Inscription</button>
            </form>
          </div>
          <table datatable class="row-border">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Arnaud LEMAIRE</td>
                    <td>50 Rue Barye</td>
                    <td>Paris</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>David BARBIER</td>
                    <td>1 Rue Barye</td>
                    <td>Poitiers</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Gillet ROYER</td>
                    <td>5 Rue Barye</td>
                    <td>Caen</td>	
                    <td>62</td>	
                </tr>		
                <tr>
                    <td>Christine KLEIN</td>
                    <td>18 Rue Barye</td>
                    <td>Nantes</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Anne BOUVIER</td>
                    <td>5 Rue Barye</td>
                    <td>Rouen</td>
                    <td>46</td>
                </tr>
                <tr>
                    <td>Pierre COUSIN</td>
                    <td>23 Rue Barye</td>
                    <td>Bordeaux</td>
                    <td>37</td>
                </tr>
                <tr>
                    <td>Louis LAPORTE</td>
                    <td>77 Rue Barye</td>
                    <td>Lille</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>David ROUSSEL</td>
                    <td>6 Rue Barye</td>
                    <td>Marseille</td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>André GAUTIER</td>
                    <td>15 Rue Barye</td>
                    <td>Paris</td>
                    <td>81</td>
                </tr>
                <tr>
                    <td>Antoine MASSON</td>
                    <td>36 Rue Barye</td>
                    <td>Belleville</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>Pierre BOYER</td>
                    <td>1 Rue Barye</td>
                    <td>Lyon</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>Daniel LAMY</td>
                    <td>2 Rue Barye</td>
                    <td>Paris</td>
                    <td>49</td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="footer py-4">
    <div class="container text-center">
      <p>ANDRIANIAINA Tanjona Jerry</p>
      <p>RAMAROKOTO Nomenjanahary</p>
      <p>© 2024 Beauté Madagascar.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
