<html>
    <body>
        <footer class="footer py-4">
            <div class="container text-center">
            <p>ANDRIANIAINA Tanjona Jerry</p>
            <p>RAMAROKOTO Nomenjanahary</p>
            <p>© 2024 Beauté Madagascar.</p>
            </div>
        </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>